<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | School Register</title>

    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/materialize/dist/css/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>

    <!-- Nav bar -->
    <nav class="nav-extended">
        <div class="nav-wrapper teal">
            <span class="brand-logo center">School Register</span>
        </div>
        <div class="nav-content teal center-align">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active" href="#students">Students</a></li>
                <li class="tab"><a href="#classes">Classes</a></li>
                <li class="tab"><a href="#specializations">Specializations</a></li>
            </ul>
        </div>
    </nav>
    <!-- Pages injections -->
    <div>
        @RenderBody()
    </div>

    <!--
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - school_register</p>
        </footer>
    </div>
    -->

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>

</html>
