/* Write your CSS code */

/* Student */

    /* Index */

        /* Card double buttons */
        .model-card ul.card-buttons {
            margin: -26px 10px 0 0;
            text-align: right; }

            .model-card ul.card-buttons li {
                display: inline-block;
                padding-left: 5px; }

    /* Details */

        /* Accordion list*/
        .model-details ul.collapsible li{
            margin: 0;
        }