@model StudentViewModel

@{
    ViewBag.Title = "Create Student";
}

<div class="row">

    <div class="container">

        <div class="section">

            <!-- Student personal data -->
            <form asp-action="Create" method="post" class="student_create col s12">

                <!-- Student.ID -->
                <input type="hidden" asp-for="ID" />

                <!-- Student image -->
                <div class="row">
                    <div class="col s12 m6 offset-m3 center">
                        <img class="circle responsive-img" src="~/images/students/student256.png" />
                    </div>
                </div>

                <div class="row">

                    <!-- Student.FiscalCode -->
                    <div class="input-field col s12 m6">
                        <input asp-for="FiscalCode" class="char_chount validate" type="text" data-length="16">
                        <span class="red-text" asp-validation-for="FiscalCode"></span>
                        <label asp-for="FiscalCode" class="active">Fiscal Code</label>
                    </div>

                    <!-- Student.Gender-->
                    <div class="input-field col s12 m6">
                        <select asp-for="Gender" asp-items="@Html.GetEnumSelectList(typeof(Gender))">
                            <option value="" disabled selected>Choose your option</option>
                        </select>
                        <label asp-for="Gender">Gender</label>
                    </div>

                </div>

                <div class="row">

                    <!-- Student.Name -->
                    <div class="input-field col s12 m6">
                        <input asp-for="Name" id="first_name" type="text" class="validate">
                        <span class="red-text" asp-validation-for="Name"></span>
                        <label asp-for="Name" class="active">First Name</label>
                    </div>

                    <!-- Student.Surname -->
                    <div class="input-field col s12 m6">
                        <input asp-for="Surname" id="last_name" type="text" class="validate">
                        <span class="red-text" asp-validation-for="Surname"></span>
                        <label asp-for="Surname" class="active">Last Name</label>
                    </div>

                </div>

                <div class="row">

                    <!-- Student.Birthday -->
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">today</i>
                        <input asp-for="Birthday" type="date" class="datepicker">
                        <span class="red-text" asp-validation-for="Birthday"></span>
                        <label asp-for="Birthday" class="active">Birthday</label>
                    </div>

                    <!-- Student.Age -->
                    <div class="input-field col s12 m6">
                        <input asp-for="Age" id="age" type="text" class="validate">
                        <span class="red-text" asp-validation-for="Age"></span>
                        <label asp-for="Age" class="active">Age</label>
                    </div>

                </div>
                
                <div class="row">

                    <!-- Student.Email -->
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">email</i>
                        <input asp-for="Email" id="email" class="validate">
                        <span class="red-text" asp-validation-for="Email"></span>
                        <label asp-for="Email" data-error="wrong" data-success="right">Email</label>
                    </div>

                    <!-- Student.FkClass -->
                    <div class="input-field col s12 m6">
                        <select asp-for="FkClass" asp-items="ViewBag.FkClass">
                            <option value="" disabled selected>Choose your option</option>
                        </select>
                        <label asp-for="FkClass">Classe</label>
                    </div>

                </div>

                <!-- Validation sector -->
                <div class="row m4 offset-m4 red-text"
                     asp-validation-summary="ModelOnly">
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <button class="btn waves-effect waves-light col s12 green accent-3" type="submit">
                            Create
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s12 m6">
                        <button class="btn waves-effect waves-light col s12" type="reset">
                            Reset Change
                            <i class="material-icons right">loop</i>
                        </button>
                    </div>
                </div>

            </form>

            <form method="get" class="col s12">
                <div class="form-action">
                    <button class="btn waves-effect waves-light col s12 yellow darken-2" asp-action="Index">
                        Back
                        <i class="material-icons right">settings_backup_restore</i>
                    </button>
                </div>
            </form>

        </div>

    </div>
</div>

<!-- Section that renders after jQuery plugin-->
@section Scripts {
    <script src="~/js/site.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



