@model RoomViewModel

@{
    ViewBag.Title = "Create Room";
}

<div class="row">

    <div class="container">

        <div class="section">

            <!-- Room personal data -->
            <form asp-action="Create" method="post" class="col s12">

                <!-- Room.ID -->
                <input type="hidden" asp-for="ID" />

                <!-- Room image -->
                <div class="row">
                    <div class="col s12 m6 offset-m3 center">
                        <img src="~/images/rooms/door.png" />
                    </div>
                </div>

                <div class="row">

                    <!-- Room.NumeroAula -->
                    <div class="input-field col s12">
                        <input asp-for="NumeroAula" type="text" class="validate">
                        <span class="red-text" asp-validation-for="NumeroAula"></span>
                        <label asp-for="NumeroAula" class="active">Room Number</label>
                    </div>

                </div>

                <div class="row">

                    <!-- Room.Floor -->
                    <div class="input-field col s12 m6">
                        <input asp-for="Floor" type="text" class="validate">
                        <span class="red-text" asp-validation-for="Floor"></span>
                        <label asp-for="Floor" class="active">Floor</label>
                    </div>

                    <!-- Room.Lim -->
                    <div class="input-field col s12 m6">
                        <div class="checkbox">
                            <input asp-for="Lim" />
                            <label asp-for="Lim"></label>
                        </div>
                    </div>

                </div>

                <!-- Validation sector -->
                <div class="row m4 offset-m4 red-text"
                     asp-validation-summary="ModelOnly">
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <button class="btn waves-effect waves-light col s12 green accent-4" type="submit">
                            Create
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s12 m6">
                        <button class="btn waves-effect waves-light col s12" type="reset">
                            Reset Change
                            <i class="material-icons right">loop</i>
                        </button>
                    </div>
                </div>

            </form>

            <form method="get" class="col s12">
                <div class="form-action">
                    <button class="btn waves-effect waves-light col s12 yellow darken-2" asp-action="Index">
                        Back
                        <i class="material-icons right">settings_backup_restore</i>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Section that renders after jQuery plugin-->
@section Scripts {
    <script src="~/js/site.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}